<h1>Tarea</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5><p class="card-title"><%=   @todo.description %></p></h5>
        
        
    </div>
</div>

<%= link_to "Back", todos_path %>